name: Build Kivy APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Cloner le dépôt
        uses: actions/checkout@v4

      - name: Installer dépendances système
        run: |
          sudo apt update
          sudo apt install -y python3 python3-pip zip unzip openjdk-17-jdk

      - name: Installer Buildozer et Cython
        run: |
          pip install --upgrade pip
          pip install buildozer cython

      - name: Accepter licences Android SDK
        run: |
          mkdir -p ~/.android
          echo '### Licenses accepted automatically' > ~/.android/repositories.cfg
          yes | ~/.buildozer/android/platform/android-sdk/cmdline-tools/latest/bin/sdkmanager --licenses || true

      - name: Compiler APK
        run: |
          buildozer android debug
